#form-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#form-title {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  background-color: #2196f3;
}

#form-registor {
  margin-top: 45px;
}

#mainModalLabel {
  font-weight: bold;
  color: #2e2e2e;
}

#modal-content {
  text-align: center;
}

.input-group-text > i {
  width: 14px;
}

#footer {
  border-top: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 4px;
  z-index: 1056;
  background-color: #fff;
}

#footer .footer-item {
  width: 25%;
  text-align: center;
}
#footer .footer-item .footer-item-bottom {
  font-size: 11px;
  font-weight: 500;
}

#footer .footer-item .footer-item-top.actived {
  color: #2196f3;
}

.custom-btn {
  background-color: #2196f3;
  color: white;
}
